#container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 10px;
}
#container>img{
  width:100%;
  max-width: 35em;
  display: block;
}
#loading{
  position: absolute;
  width:100vw;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;

}
#loading>p{
  position: absolute;
  left:50%;
  top:50%;
  background-color: aliceblue;
}
